<div class="container my-4">
  <div class="row mb-4 text-center">
    <div class="col">
      <h2 class="font-weight-bold">新增餐廳</h2>
      <small class="form-text text-muted">星字號 <span class="required">*</span>為必填</small>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
    <form action="/restaurant" method="POST" id="add-form" onsubmit="return chk();">

      <div class="form-group">
        <label for="name">餐廳名稱 <span class="required">*</span></label>
        <input type="text" name="name" placeholder="黑人ㄟ店" aria-describedby="name"  >
        <small class="form-text text-muted text-right">可填入中文或英文</small>
      </div>
    
      <div class="form-group">
        <label for="name_en">英文名稱</label>
        <input type="text" name="name_en" placeholder="Black's Stinky Tofu" aria-describedby="name_en">
      </div>

      <div class="form-group">
        <label for="category">餐廳類型 <span class="required">*</span></label>
        <select id="types" name="category">
          <option selected disabled value="">請下拉選擇</option>
          <option>台式特色料理</option>
          <option value="中式傳統料理">中式傳統料理</option>
          <option value="日式料理">日式料理</option>
          <option value="韓式料理">韓式料理</option>
          <option value="泰式料理">泰式料理</option>
          <option value="印度料理">印度料理</option>
          <option value="義式料理">義式料理</option>
          <option value="法式料理">法式料理</option>
          <option value="美式料理">美式料理</option>
          <option value="其他">其他</option>
        </select>
      </div>

      <div class="form-group">
        <label for="image">餐廳照片網址 <span class="required">*</span></label>
        <input type="text" name="image" placeholder="http://www.photo.com/img01.jpg" aria-describedby="image">
        <small class="form-text text-muted text-right">請輸入完整圖片網址</small>
      </div>

      <div class="form-group">
        <label for="phone">餐廳電話 <span class="required">*</span></label>
        <input type="text" name="phone" placeholder="(02)2662-1357" aria-describedby="phone"
        >
        <small class="form-text text-muted text-right">室內電話請加區碼</small>
      </div>

      <div class="form-group">
        <label for="location">餐廳地址 <span class="required">*</span></label>
        <input type="text" name="location" placeholder="新北市深坑區深坑街126號" aria-describedby="location"
        >
      </div>

      <div class="form-group">
        <label for="google_map">餐廳Google map網址 <span class="required">*</span></label>
        <input type="text" name="google_map" placeholder="https://goo.gl/maps/pAcxbn3ZLNHiUWkB8" aria-describedby="google_map">
        <small class="form-text text-muted text-right">請輸入完整網址</small>
      </div>

      <div class="form-group">
        <label for="rating">評分 <span class="required">*</span></label>
        <input type="number" name="rating" placeholder="1~5" aria-describedby="rating" min="1" max="5" step="0.1" inputmode="numeric">
      </div>

      <div class="form-group">
        <label for="description">餐廳簡介 <span class="required">*</span></label>
        <textarea name="description" rows="6" cols="50" placeholder="餐廳位於深坑老街知名的廟口正對面，是老街最熱鬧之處。手工熬煮的麻辣湯頭，有神秘的配方，略帶中藥香氣，讓經典的麻辣臭豆腐更加美味銷魂。" aria-describedby="description"></textarea>
      </div>

      <button type="submit" class="btn btn-info my-4 float-right" id="add-button">新增</button>
    </form>
    </div>

  </div>
</div>
